*
{
	font-family: verdana;
	font-size: 14px;
}

li
{
	cursor: pointer;
	display: inline-block;
	list-style: none;
	padding: 5px;
	width: 250px;
	height: 30px;
	overflow: hidden;
}

li:hover
{
	background-color: aquamarine;
}

.fa
{
	color: blue;
}

h2
{
	clear: both;
	font-size: 18px;
	font-weight: bold;
}

input[type="text"]
{
	padding: 6px;
	height: 40px;
}

span.clear
{
	cursor: pointer;
}


.picker
{
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 999;
	clear: both;
	max-height: 140px;
	overflow: hidden;
}

/**
 * Uncover area overlapped with picker header
 */
.placeholder
{
	margin-top: 140px;
}

.icons
{
}