*
{
	font-family: verdana;
	font-size: 14px;
}

li
{
	cursor: pointer;
	display: inline-block;
	list-style: none;
	padding: 5px;
	width: 250px;
}

li:hover
{
	background-color: aquamarine;
}

.fa
{
	color: blue;
}

h2
{
	clear: both;
	font-size: 18px;
	font-weight: bold;
}

span.clear
{
	cursor: pointer;
}


.picker
{
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 999;
	clear: both;
}

.icons
{
	margin-top: 150px;
}
