<html>
<head>
  <title>Icons Picker for FontAwesome</title>
  <meta charset="utf-8" />
  <meta name="description" content="Icons picker for FontAwesome 4.7.0 - using single page application with AngularJS." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="icons.css" />
</head>
<body ng-app="myApp" class="w3-pale-green">
  <div class="wrapper" ng-controller="iconsController">
    <div class="picker w3-container w3-padding w3-yellow w3-bottombar w3-border-green">
      <h1>
        Icons Picker for FontAwesome
        <a href="https://fontawesome.com/v4.7.0/icons/">4.7.0 icons</a>,
        <a href="https://www.bootstrapcdn.com/fontawesome/">CDN</a>
      </h1>
      <div>
        <input type="text" id="search" value="" ng-model="search" placeholder="search icon..." autocomplete="off">
        <input type="text" id="global" value="" readonly="readonly" placeholder="copy html from here..." />
        <span class="clear" ng-click="clear();"><i class='fa fa-minus-circle' aria-hidden='true'></i> clear</span>
      </div>
      <p class="w3-small">Click on an icon text to copy its html into clipboard. Made for large screens only. Min 800px wide.</p>
	  <p>&lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" /&gt;</p>
    </div>
    <div class="placeholder"></div>
    <div class="icons w3-panel">
      <p>There are <strong>#{{(names|filter:search).length}}</strong> awesome icons.</p>
	  <!-- @todo Pluralize -->
      <ul>
        <li ng-repeat="name in names|filter:search" ng-click="copy(name)">
          <i class="fa fa-{{name}}" aria-hidden="true"></i> {{name}}
          <input class="{{name}}" id="{{name}}" style="display: none;" value="<i class='fa fa-{{name}}' aria-hidden='true'></i>" />
        </li>
      </ul>
    </div>
  </div>
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  -->
  <script src="https://code.angularjs.org/1.7.4/angular.min.js"></script>
  <script src="icons.js"></script>
  </body>
</html>